.venv/
venv
logs
netflix_dbt/logs/
netflix_dbt/target/
netflix_dbt/dbt_packages/
.env
netflix_etl.duckdb

# covers all duckdb files 
*.duckdb 
*.duckdb.wal

netflix_dbt/models/staging/exploration.ipynb